<div class="nav footer">
    <p>Email: <a href="mailto:ishaanjindal279@gmail.com"> Here</a></p>
    <p>Phone:<a href="tel:7986725148">Here</a></p>
    <p  style="text-decoration: underline;"> Web Developer : Ishaan Jindal</p>
</div>