<div style="color: black; " class="nav">
    <nav>   
        <div style="color: #1A1A1A;padding: px;font-size: 150%;font-family:'Courier New', Courier, monospace;">   
            DailyBlogs.com
        </div> 
        <ul style="margin: 0px;padding: px;list-style-type: none;display: flex;justify-content: space-between;align-items: center;color: #2B2B2B;" >
            <li class="nav1"><span><a href=#>Products</a></span>
                             <span><a href=#>Features</a></span>
                             <span><a href=#>Pricing</a></span>
                            </li>
        </ul>
       
        <div class="nav2">
       
                <a href="#">  Login</a> 
                <a href="#">SignUp</a>

        </div>

       
    </nav>
</div>