<link rel="stylesheet" href="styles/index.css">

<h1 class="title3" style="margin-top: 150px;font-size: 250%;color: beige;font-style: normal;font-family: cursive;">Create your Account</h1>


<div style="text-align: center;">    
<div class="login" style="text-align: center;">


    <h1 class="title3" style="font-size: 150%;color: whitesmoke;">Get Started..</h1>

    <form action="/create" method="post"> 
        <p>
            Name <br>
            <input type="text" name="name" required placeholder="John Miller">
        </p>

        <p>
            Email Id<br>
            <input type="email" name="Email Id" required placeholder="johnmiller123@gmail.com">
        </p>

        <p>
            Address<br>
            <input type="text" name="address" required placeholder="H.No. 12 Cross Streats US">
        </p>

        <p>
            Profession<br>
            <input type="text" name="profession" required placeholder="Data Analytics">
        </p>

        <p>
            Contact Number<br>
            <input type="number" name="contactNo" required placeholder="98765432X">
        </p>

        <input class="submit" type="submit" >
    </form>

    <p style="font-size: 50%;">
        By continuing with any of the options listed,<br> you agree to our Terms of Service and have read our<br> Privacy Policy.
    </p>
</div>
</div>