<link rel="stylesheet" href="styles/index.css">

<h1 class="title2">Welcome to The World of Blogging</h1>

<div style="text-align: center;">
<div class="blog">
    <p>Title for Your Blog:
        <input >
    </p>

    <p>
        URL for your blog:
        <input type="url">
    </p>

    <textarea style="background-color: aliceblue;height: 100px;width: 300px;text-align: center;" placeholder="Enter your Blog"></textarea>
<br>
    <input style="padding: 4px; margin-top: 10px;background-color: whitesmoke;" class="Submitx" type="submit" >
</div>
</div>