<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <h1 class="title2" >Sorry For The Inconvinience But our DataBase is Not Ready Yet!</h1>

    <p class="content1">Till Then Explore other Blogs:</p>
    <ul class="list2">
        <li><a href="#">Blog1</a></li>
        <li><a href="#">Blog2</a></li>
        <li><a href="#">Blog3</a></li>
        <li><a href="#">Blog4</a></li>
        <li><a href="#">Blog5</a></li>
        <li><a href="#">Blog6</a></li>
     </ul>
</body>
</html>