<link rel="stylesheet" href="styles/index.css">

<%- include("partials/header.ejs") %>
<div style="background-image: url(/Images/Background2.jpg);background-size: cover;height:100vh;">
<div style="text-align: center;">
<h1 class="title">Daily Blogs</h1>
</div>

<div class="navigations">
    <ul class="list1">
        <li><a href="/auth" >Create a Blog Post</a></li>
        <li><a href="/saved" >Open your Previous Blog Posts</a></li>
    </ul>
</div>


</div>

<%- include("partials/footer.ejs") %>